@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-bg: 255 255 255;
      --color-secondarybg: 240 240 240;
      --color-primarytext: 0 0 0;
      --color-secondarytext: 80 80 80;
      --color-hovertext: 25 25 25;
      --color-focustext: 50 50 50;
      --color-buttonbg: 168 85 247;
      --color-border: 200 200 200;
      /* ... */
    }
    @media (prefers-color-scheme:dark) {
        :root {
            --color-bg: 40 40 40;
            --color-secondarybg: 55 55 55;
            --color-primarytext: 255 255 255;
            --color-secondarytext: 175 175 175;
            --color-hovertext: 220 220 220;
            --color-focustext: 195 195 195;
            --color-buttonbg: 168 85 247;
            --color-border: 117 112 112;
            /* ... */
          }
    }
    :root[data-theme="Dark"]{
        --color-bg: 25 25 25;
        --color-secondarybg: 55 55 55;
        --color-primarytext: 255 255 255;
        --color-secondarytext: 180 180 180;
        --color-hovertext: 220 220 220;
        --color-focustext: 195 195 195;
        --color-buttonbg: 168 85 247;
        --color-border: 117 112 112;
    }
    :root[data-theme="Light"]{
        --color-bg: 255 255 255;
        --color-secondarybg: 240 240 240;
        --color-primarytext: 0 0 0;
        --color-secondarytext: 80 80 80;
        --color-hovertext: 25 25 25;
        --color-focustext: 50 50 50;
        --color-buttonbg: 168 85 247;
        --color-border: 255 255 255;
    }
    :root[data-theme="Gemstone"]{
      --color-bg: 255 255 255;
      --color-secondarybg: 55 55 55;
      --color-primarytext: 0 0 0;
      --color-secondarytext: 255 255 255;
      --color-hovertext: 65 65 65;
      --color-buttonbg: 168 85 247;
      --color-border: 255 255 255;
    }
    :root[data-theme="Modern"]{
      --color-bg: 255 255 255;
      --color-secondarybg: 55 55 55;
      --color-primarytext: 0 0 0;
      --color-secondarytext: 255 255 255;
      --color-hovertext: 65 65 65;
      --color-buttonbg: 168 85 247;
      --color-border: 200 200 200;
    }
    :root[data-theme="Pro"]{
      --color-bg: 0 0 128;
      --color-secondarybg: 55 55 55;
      --color-primarytext: 255 255 255;
      --color-secondarytext: 180 180 180;
      --color-hovertext: 65 65 65;
      --color-buttonbg: 168 85 247;
      --color-border: 255 255 255;
  }
  }
