@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-bg: 255 255 255;
      --color-secondarybg: 240 240 240;
      --color-primarytext: 0 0 0;
      --color-secondarytext: 255 255 255;
      --color-buttonbg: 255 255 255;
      --color-border: 255 255 255;
      /* ... */
    }
    @media (prefers-color-scheme:dark) {
        :root {
            --color-bg: 25 25 35;
            --color-secondarybg: 40 40 50;
            --color-primarytext: 255 255 255;
            --color-secondarytext: 180 180 180;
            --color-hovertext: 255 255 255;
            --color-buttonbg: 229 231 235;
            --color-border: 117 112 112;
            /* ... */
          }
    }
    :root[data-theme="Dark"]{
        --color-bg: 25 25 35;
        --color-secondarybg: 40 40 50;
        --color-primarytext: 255 255 255;
        --color-secondarytext: 180 180 180;
        --color-hovertext: 220 220 220;
        --color-buttonbg: 229 231 235;
        --color-border: 117 112 112;
    }
    :root[data-theme="Light"]{
        --color-bg: 255 255 255;
        --color-secondarybg: 240 240 240;
        --color-primarytext: 0 0 0;
        --color-secondarytext: 25 25 25;
        --color-hovertext: 65 65 65; 
        --color-buttonbg: 31 41 55;
        --color-border: 200 200 200;
    }
    :root[data-theme="Gemstone"]{
      --color-bg: 255 255 255;
      --color-secondarybg: 40 40 40;
      --color-primarytext: 0 0 0;
      --color-secondarytext: 255 255 255;
      --color-hovertext: 65 65 65;
      --color-buttonbg: 255 255 255;
      --color-border: 255 255 255;
    }
    :root[data-theme="Modern"]{
      --color-bg: 255 255 255;
      --color-secondarybg: 40 40 40;
      --color-primarytext: 0 0 0;
      --color-secondarytext: 255 255 255;
      --color-hovertext: 65 65 65;
      --color-buttonbg: 255 255 255;
      --color-border: 200 200 200;
    }
    :root[data-theme="Pro"]{
      --color-bg: 0 0 128;
      --color-secondarybg: 40 40 40;
      --color-primarytext: 255 255 255;
      --color-secondarytext: 180 180 180;
      --color-hovertext: 65 65 65;
      --color-buttonbg: 255 255 255;
      --color-border: 255 255 255;
  }
  }
